.contactus {
    padding-left: 15px;
}

body {
    position: relative;
}
.contactcontainer {
    max-width: 90%;
    overflow-x: hidden;
}
address .addresstitle {
    display: block;
    font-weight: bold;
    color: #00a1e4;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
}
address {
    line-height: 1.9em;
}
.contactform label {
    color: #707070;
    display: block;
    font-weight: 400;
    padding-bottom: 0;
    font-size: 1.2em;
}
.contactform {
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 70px;
}
.contacti {
    width: 75%;
    margin-top: 1px;
    margin-bottom: 12px;
    font-size: 1.4em;
    background-color: #dddddd;
    border: 1px solid #aaaaaa;
}
input.contacti {
    height: 50px;
}
textarea.contacti {
    height: 250px;
    resize: none;
}
.submitbutton {
    background-color: #00a1e4;
    color: #fff;
    width: 75%;
    height: 50px;
    border: 1px solid #aaaaaa;
    font-size: 1.6em;
}
@media (max-width: 768px)
{
    .contactcontainer {
        width: 90%;
        margin: 0 auto;
    }
    .form {
        width: 100%;
        margin: 0;
    }
    .about {
        margin: 0;
        width: 100%;
        padding-left: 10%;
    }
    .contacti {
        width: 100%;
    }
    .submitbutton {
        width: 100%;
    }
    .contactus {
        font-size: 3.5em;
        margin-bottom: 20px;
    }
    .contacttext {
        color: #707070;
        font-size: 1.1em;;
        line-height: 1.4em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
}
@media (min-width: 768px)
{
    .form {
        width: 100%;
        margin: 0;
    }
    .about {
        width: 100%;
        margin: 0;
    }
    .contactus {
        font-size: 4em;
        margin-bottom: 15px;
    }
    .contacttext {
        font-size: 1.3em;
        color: #707070;
        line-height: 1.4em;
        padding-left: 15px;
        margin-bottom: 30px;
    }
    .container .contactcontainer {
        width: 80%;
        margin: 0 auto;
    }
    .contacti {
        width: 100%;
    }
    .submitbutton {
        width: 100%;
    }
    .addressblock {
        float: left;
        width: 200px;
        margin-bottom: 30px;
    }
    address {
        width: 700px;
        margin: 0 auto;
    }
}
@media (min-width: 992px)
{
    .form {
        width: 75%;
        float: left;
        margin: 0;
    }
    .about {
        padding-top: 80px;
        width: 25%;
        float: right;
        margin: 0;
    }
    .container .contactcontainer {
        width: 100%;
    }
    .contactus {
        font-size: 5em;
    }
    .contacttext {
        font-size: 1.5em;
        color: #707070;
        line-height: 1.4em;
        padding-left: 15px;
    }
    .contacti {
        width: 82%;
    }
    .submitbutton {
        width: 82%;
    }
}
@media (max-width: 992px) {
    footer {
        position: relative;
        bottom: 0;
        margin-top: 900px;
    }
}